<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <title>DHNews</title>
    </head>
    <body>
        <header>
            <img src="" alt="logo" srcset="">
            <strong>Publicado em 22/06/2022</strong>
        </header>
        <main>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing
                <strong> elit. Officia quisquam totam pariatur</strong>
                , minima ullam soluta culpa corrupti consectetur illo adipisci.
            </p>
            <img src="" alt="escritório" srcset="">
            <h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, explicabo.
            </h1>
            <p>
                Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
            </p>
            <ul>
                <li>Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.</li>
                <li>Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.</li>
                <li>Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.</li>
            </ul>
            <p>
                Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide electram sadipscing
            et per. Per aumento de cachacis, eu reclamis. Paisis, filhis, espiritis santis. Cevadis im ampola pa arma uma pindureta.
            </p>
            <h1>
                Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Per aumento de cachacis, 
            eu reclamis. Paisis, filhis, espiritis santis. Cevadis im ampola pa arma uma pindureta.
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam illo quo, pariatur non tempora error est consequatur quae asperiores cumque.
                Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Per aumento de cachacis, eu reclamis. Paisis, filhis, espiritis santis. Cevadis im ampola pa arma uma pindureta.
            </p>
            <p>
                Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per.
                Mé faiz elementum girarzis, nisi eros vermeio. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam illo quo, pariatur non tempora error est consequatur quae asperiores cumque.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam illo quo, pariatur non tempora error est consequatur quae asperiores cumque.
            </p>
        </main>
        <footer>
            <ul>
                <li><img src="" alt="Facebook" srcset=""></li>
                <li><img src="" alt="Instagram" srcset=""></li>
                <li><img src="" alt="LinkedIn" srcset=""></li>
                <li><img src="" alt="Youtube" srcset=""></li>
            </ul>
        </footer>
    </body>
</html>
